.logoGroup {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.header {
  @media (min-width: $mantine-breakpoint-sm) {
    padding-left: var(--mantine-spacing-xl) !important;
    padding-right: var(--mantine-spacing-xl) !important;
  }
}

.menu {
  :global(.mantine-Anchor-root) {
    color: var(--mantine-color-primary-filled);
    font-weight: 500;
  }
}
