.segmentGroup {
  color: var(--mantine-color-white);
  column-gap: rem(24);

  @media (min-width: $mantine-breakpoint-sm) {
    gap: rem(44);
  }
}

.segmentNumber {
  font-size: rem(44);

  @media (min-width: $mantine-breakpoint-xs) {
    font-size: rem(54);
  }
}

.segmentUnit {
  font-size: var(--mantine-font-size-sm);

  @media (min-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
  }
}

.applyButton {
  &:not([disabled]) {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-primary-filled);

    &:hover {
      opacity: 0.8;
    }
  }
}
